<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60">
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss}]%p[%c{0}.%M.%L]%m%n
			</pattern>
			<charset>GBK</charset>
		</encoder>
	</appender>

	<appender name="logInfoFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/home/weblogic/Oracle/Middleware/user_projects/domains/iaDomain/log/%d{yyyy-MM-dd}_INFO.log</FileNamePattern> 
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss}]%p[%c{0}.%M.%L]%m%n
			</pattern>
			<charset>GBK</charset>
		</encoder>
	</appender>

	<appender name="logErrorFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/home/weblogic/Oracle/Middleware/user_projects/domains/iaDomain/log/%d{yyyy-MM-dd}_INFO.log</FileNamePattern> 
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss}]%p[%c{0}.%M.%L]%m%n
			</pattern>
			<charset>GBK</charset>
		</encoder>
	</appender>

	<logger name="org.logicalcobwebs.proxool" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</logger>
	<root>
		<level value="debug" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logInfoFile" />
		<appender-ref ref="logErrorFile" />
	</root>
</configuration>

